ipykernel==6.29.5
requests==2.32.3
beautifulsoup4==4.12.3
tiktoken==0.8.0
streamlit==1.40.2
matplotlib==3.9.2
pandas==2.2.3
sacrebleu==2.4.3
rouge==1.0.1
python-dotenv==1.0.1
google-generativeai==0.8.3